@page "/impressum"

<div class="text-center mt-5 large-font">
	<h2>Impressum</h2>

	<p>Für diese Website verantwortlich ist Lukas Allermann.</p>

	<p>Solange Sie sich nicht einloggen speichern wir keine Cookies von unserer Seite aus.</p>

	<p>Lediglich ihre IP-Adresse wird mitgeloggt sobald Sie die Seite betreten.</p>

	<p>Diese Daten liegen aber nur im Serverlog und werden nicht weiter verarbeitet.</p>

	<p>Es werden somit nach DSGVO keine personenbezogenen Daten gespeichert.</p>
</div>

<style>
	.large-font {
		font-size: 1.5em;
	}
</style>