@page "/secret"
@using System.Diagnostics
@rendermode InteractiveServer
@inject NavigationManager navigationManager
<PageTitle>Secret</PageTitle>

<h1>Hello, to the Secret Site!</h1>
<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
	<Authorized >
		<p>This is a secret page that only logged in users can see.</p>
		<span>Logged in as <b>@context.User.Identity.Name</b></span>
		<p>Your token is <b>@context.User.FindFirst("Token")?.Value</b></p>
	</Authorized>
	<NotAuthorized>
		<p>You are not authorized to see this page.</p>
	</NotAuthorized>

</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

<button type="button" class="btn btn-primary" @onclick="OnButtonPress">Login</button>
@code {

	public void OnButtonPress()
	{
		Debug.WriteLine("Button Pressed");
		navigationManager.NavigateTo("/");
	}
}
