@using LAllermannShared.Models.Entities
@using LAllermannWebsite.Services.ApiServices.PasswordManager
@inject PasswordManagerService passwordManagerService

<h3>AddPassword</h3>

<EditForm Model="PasswordToAdd" OnValidSubmit="SubmitAddPassword">
    <label for="Title">Title</label>
    <InputText id="Title" @bind-Value="PasswordToAdd.Title" />

    <label for="Notes">Notes</label>
    <InputText id="Notes" @bind-Value="PasswordToAdd.Notes"/>

    <label for="Username">Username</label>
    <InputText id="Username" @bind-Value="PasswordToAdd.Username"/>

    <label for="UserPassword">Password</label>
    <InputText id="UserPassword" type="password" @bind-Value="PasswordToAdd.UserPassword"/>

    <label for="URL">URL</label>
    <InputText id="URL"  @bind-Value="PasswordToAdd.URL"/>
    <button type="submit">Submit</button>
</EditForm>
@code {
    [Parameter]
    public EventCallback<bool> OnAddComplete { get; set; }
    
    public Password PasswordToAdd = new Password();

    private async Task SubmitAddPassword(){
        
        await passwordManagerService.AddPassword(PasswordToAdd);
        await OnAddComplete.InvokeAsync(false);
	}
}
