@page "/passwordmanager"
@using LAllermannShared.Models.Entities

@rendermode InteractiveServer

<h3>Password Manager</h3>

<AuthorizeView>
	<NotAuthorized>
		<p>Please log in to see your Passwords</p>
	</NotAuthorized>
	<Authorized>
		<button @onclick="Debug">Debug</button>
		@if (add_password)
		{
			<AddPassword OnAddComplete="AddComplete"/>

		}
		else
		{
			<PasswordTable />
		}
	</Authorized>
</AuthorizeView>

@code {

	private bool add_password = false;

	private void AddComplete(bool value)
	{
		add_password = value;
		StateHasChanged();
	}

	private void Debug()
	{
		add_password = !add_password;
	}
}
