
.password_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 6em;
    margin-right: 6em;
    overflow-y: auto;
}


.password_table {
    width: 85%;
    max-height: calc(100vh - 250px);
    color: white;
    border-top: 50px solid transparent;
    text-align: center;
}



.table {
    color: white;
}

.table th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #333;
}

.table tr:hover {
    background-color: red;
}

.table td:hover {
    background-color: black;
}
