<div class="top-row ps-3 navbar">
    <div class="container-fluid">      
        <div class="nav-left">
            <NavLink href="/">
                <img class="logo" src="/LAllermann_Logo.png" alt="LAllermann Logo" />
            </NavLink>
            <NavLink href="/debug" class="nav-link">Debug</NavLink>
            <NavLink href="/debug" class="nav-link">Legacy Site</NavLink>
            <AuthorizeView>
				<Authorized>
                    <NavLink href="/debug" class="nav-link">Password Manager</NavLink>
				</Authorized>
            </AuthorizeView>
        </div>
        <div class="nav-right">
            <AuthorizeView>
                <Authorized>
                    <NavLink href="/logout" class="nav-link">Logout</NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink href="/login" class="nav-link">Login</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>




